.spoiler-hidden {
    left: 0;
    top: 0;
    display: block;
    padding: 6px 10px 0px 10px;
    box-sizing: border-box;
    z-index: 9999;
    background: black !important;
    cursor: not-allowed  !important;
    overflow: hidden !important;
}